.cabecalho {

    text-align: left;
    border-bottom-style: double;
    border-bottom-color: blue;
    color: blue;
    border-bottom-width: 5px;

}

h2 {

    font-style: italic;

}

a:hover{

    color: green;

}

.contato {

    height: 50px;
    width: 400px;
    border-width: 5px;
    border-color: black
    padding: 5px;
    border-style: solid;
    text-align: center;

}

.function {

    font-size: 20px;

}